<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/style.css">
    <title>Document</title>
</head>

<body>

    <main>
        <div class="sidenav">
            <ul class="sidenav-itens">
                <li><img src="https://cdn-icons-png.flaticon.com/512/1946/1946433.png " alt=""></li>
                <li><img src="https://cdn-icons-png.flaticon.com/512/893/893220.png " alt=""></li>
            </ul>
        </div>
        <section>
            <nav class="navbar">
                <div><input class="navbar-search" type="text" title="search" placeholder="Buscar informação"></div>
                <ul class="navbar-itens">
                    <li class="navbar-icon-img"><img src="https://cdn-icons-png.flaticon.com/512/11105/11105817.png " alt=""></li>
                    <li class="navbar-user-img"><img src="https://i.pinimg.com/564x/99/f6/1a/99f61a66264b293ab5c42cbf3307a75d.jpg" alt=""></li>
                    <li>Xiang Liang</li>
                </ul>
            </nav>
            <section class="container-conteudo">
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Velit, fugiat! Reiciendis adipisci animi laborum quia, nihil aliquam amet odio ea sunt. Alias dolore aspernatur culpa minus maxime laudantium porro praesentium.</p>
            </section>
        </section>
    </main>

</body>

</html>